@using Labo.WebSiteOptimizer.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.WebSiteOptimizer().CssInclude("css")
    @Html.WebSiteOptimizer().JsInclude("js")
</head>
<body>
    @RenderBody()
</body>
</html>
